
.navbar-light {
  background-color: #9ABD96;
}

.navbar-dark {
  background-color:#b15757;
}

.navbar-brand {
  color: #9ABD96;
}

.navbar-light .navbar-brand {
  color: #30333A;
}

.nav-link {
  color: #FFFFFF;
}

.navbar-dark .nav-link {
  color: #FFFFFF;
}

.navbar-light .nav-link {
  color: #000000;
}

.navbar-dark .nav-link:hover {
  color: #9ABD96;
}

.navbar-light .nav-link:hover {
  color: #30333A;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.btn-outline-light {
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.btn-outline-light:hover {
  background-color: #9ABD96;
  color: #30333A;
}


.navbar-toggler {
  border-color: #9ABD96; 
}

.navbar-toggler-icon {
  background-color: #9ABD96; 
}


.navbar-nav {
  margin-left: auto; 
}

.navbar-nav .nav-item {
  margin-left: 20px;
}

@media (max-width: 992px) {
  .navbar-nav {
    margin-left: 0;
    text-align: center;
  }

  .nav-item {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .btn-outline-light {
    width: 100%;
    margin-top: 10px;
  }
}

.btn {
  display: flex;
  align-items: center;
}

.btn svg {
  margin-right: 8px; 
}
