
.projects {
  padding: 60px 20px;
  background: linear-gradient(to bottom, #9ABD96, #B0A6A7);
}

.projects.dark {
  background: linear-gradient(to bottom, #30333A, #514030);
}

.projects.light {
  background: linear-gradient(to bottom, #9ABD96, #B0A6A7);
}

.card {
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 90%;
  margin: 0 auto;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  color: #72676F;
}

.project-btn {
  background-color: #30333A;
  color: white;
}

.project-btn:hover {
  background: linear-gradient(to right, #514030, #72676F);
}
