
.skills-section {
  padding: 4rem 2rem;
  text-align: center;
}

.skills-section.dark {
  background: linear-gradient(to bottom, #514030, #30333A,#514030);
  color: #FFFFFF;
}

.skills-section.light {
  background: linear-gradient(to bottom, #9ABD96, #B0A6A7);
  color: #000000;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 2rem;
  justify-items: center;
}

.skill-card {
  background-color: #514030;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  width: 100%;
  transition: background-color 0.3s ease;
}

.skill-card.dark {
  background-color: #72676F;
}

.skill-card.light {
  background-color: #B0A6A7;
}

.skill-name {
  color: #9ABD96;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.skill-level {
  color: #B0A6A7;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: 1fr; 
  }

  .skill-card {
    padding: 15px;
  }
}
