body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #343a40; 
  color: white;
}

